
//scss variables
$bg-pink:#f78cbc;

.App {
}
.App-header {
  position: relative;

}
.pink-bg{
  background-color: $bg-pink;
}
nav{ 
    .navbar-nav{
      border-top:1px solid white;
  }
}
.title-wrapper {
  background-image: url("./assets/images/beauty-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;  
}
.title-text {
  background-color: #343a40;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 10px 3px;
  mix-blend-mode: exclusion;
  height: 4.7vw;
}
/*@import '../../assets/font/font.css';*/

.prod-list .card-img-top{
  height: 150px;
}
.card-body .btn{
  font-size: 14px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body{
    font-size: 14px;
  }
  nav{ 
    height: 40px;
    .navbar-nav{
    justify-content: flex-end;
    padding-right: 100px;
    width: 100%;
    border-top: none;
  }
}
}