
//scss variables


.App {
  text-align: center;
}
.App-header {
  position: relative;

  .title-wrapper {
    background-image: url("./assets/images/beauty-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
  }
  
  .title-text {
    background-color:magenta;
    color: black;
    font-size: 5.5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 10px 3px;
    mix-blend-mode: darken;
    height: 7.1vw;
  }
}
nav{     
 // opacity: 0.7;
  background-color: black;
  height: 43px;
  ul li{
    a{
      color:#f5f5dc;
    }
    a.nav-link:hover{
     // opacity: 0.7;
     color: #a00601;
     border-bottom: 3px solid #a00601;  
    }
    a.nav-link.active{    
      font-weight: bold;
    }
  }
}
/*@import '../../assets/font/font.css';*/

