
//scss variables


.App {
  text-align: center;
}
.App-header {
  position: relative;

}
nav{     
 // opacity: 0.7;
  background-color: black;
  height: 43px;
  ul li{
   
  }
}
.pink-bg{
  background-color: pink;
}

.title-wrapper {
  background-image: url("./assets/images/beauty-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  
}

.title-text {
  background-color: #343a40;
  color: white;
  font-size: 3.5vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 10px 3px;
  mix-blend-mode: exclusion;
  height: 4.7vw;
}
/*@import '../../assets/font/font.css';*/

.footer{
}

